<div>{{message}}
  Please login into your
  <a
    href='https://roambuddy.africa/partner/#/auth/login'
    style='font-weight: bold;text-decoration: none;'
  >partner portal</a>
  and add balance</div>